@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&family=Poppins:wght@300&display=swap');
body{
    height: 100vh;
    background: url(assets/img/background.png) center/cover no-repeat; 
    position: relative;
}
h1{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: black;
    position: absolute;
    left: 50px;
    top: 30%;
}
p{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: black;
    position: absolute;
    left: 50px;
    top: 50%;
}

div:nth-of-type(1){
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    background: orange;
    border: solid 1px orange;
    border-width: 10px 150px;
    border-radius: 25px;
    color: black;
    position: absolute;
    left: 50px;
    bottom: 30%;

}

/* div:nth-of-type(2){
    border: solid 50px orange;
    border-radius: 5%;
    width: 100px;
    position: absolute;
    left: 50px;
    bottom: 25%;

}
 */







/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
/* hintergrund bild: https://cdn.dribbble.com/users/1789165/screenshots/6819197/attachments/1455528/____.png */
