@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&family=Poppins:wght@300&display=swap');
body{
    height: 100vh;
    background: rgb(238, 239, 226) url(assets/img/background.png) right/contain no-repeat; 

    position: relative;
}
h1{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: black;
    position: absolute;
    left: 50px;
    top: 30%;
}
p{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: black;
    position: absolute;
    left: 50px;
    top: 50%;
}

div:nth-of-type(1){
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    background: orange;
    border: solid 1px orange;
    border-width: 10px 150px;
    border-radius: 25px;
    color: black;
    position: absolute;
    left: 50px;
    bottom: 30%;

}
